

@import url('https://fonts.googleapis.com/css2?family=Kurale&family=Montserrat+Alternates&display=swap');


html {
width: 1500px;
    
}   
    
a {
    text-decoration: none;
    color: black;

}

a:before {
text-decoration: none;
color: black;

}

section {
width: 700px;
background-color: rgb(241, 176, 102);
margin-left: 30px;
padding-left: 30px;
padding-bottom: 30px;
margin-right: 20px;
}

colgroup {
    margin-bottom: 50px;
 
}

#sidebar {
    width: 25%;
    height: 100%;
float: left;
padding-left: 300px;
shape-margin: 200px;
  }


  main {
    float: left;
   width: 500px;
  
  }

  aside {
margin-top: 90px;



}
  
h1, h2, h3 {
font-family: 'Kurale', serif;


}