html {
width: 1500px;
    
}   
    
a {
    text-decoration: none;
    color: black;

}

a:before {
text-decoration: none;
color: black;

}

section {
width: 700px;
background-color: teal;
margin-left: 30px;
padding-left: 30px;
}

colgroup {
    margin-bottom: 50px;
 
}

#sidebar {
    width: 25%;
    height: 100%;
float: left;
padding-left: 300px;
shape-margin: 200px;
  }


  main {
    float: left;
   width: 500px;
  
  }

  aside {
margin-top: 90px;

.myForm
{
margin-left: 100px;

}
  }